<%- include('partials/header') %>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="form-container">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <% if(locals.result) { %>
        <div class="alert alert-success"><%= result %></div>
    <% } %>
    <h2>Test</h2>
    <form method="post">
        <div class="form-group">
            <label for="username">Test</label>
            <input autocomplete="off" type="text" name="test" id="test" value="<%= locals.test || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" id="test1" class="btn btn-primary">Test</button>
        </div>
    </form>
    <form action="test/delete" method="get">
        <button class="btn btn-danger">Clear</button>
    </form>

<script>
    var socket = io();
    socket.on('garage', function(msg){
      console.log(msg)
    });
    function setFocus() {
        document.getElementById("test").focus();
    }
    window.onload = setFocus();
    //setInterval(function() {
         //document.getElementById("test1").click();
    //}, 5000);
</script>
<style>
.form-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 10px; 
}

body { padding: 2em; }

</style>